:root {
    --clr-accent-1: hsl(335, 100%, 65%);
    --clr-accent-2: hsl(6, 100%, 80%);
  
    --clr-primary-700: hsl(229, 57%, 11%);
    --clr-primary-600: hsl(230, 55%, 18%);
    --clr-primary-500: hsl(229, 56%, 26%);
    
    --clr-neutral-500: hsl(229, 7%, 55%);
    --clr-neutral-400:  hsl(250, 4%, 70%);
    --clr-neutral-300: hsl(243, 100%, 93%);
    --clr-neutral-200: hsl(317, 100%, 99%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    
    --ff-primary: 'Raleway', sans-serif;
    --fw-regular: 400;
    --fw-bold: 550;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* general styles */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-neutral-200);
    background-color: var(--clr-primary-700);
    background-image: url('./images/bg-mobile.png');
    background-size: cover;
}

/* utilities */

.flex-group {
    display: flex;
    justify-content: space-between;
}

.bold-text {
    font-weight: var(--fw-bold);
    letter-spacing: 0.0425rem;
}

/* card styles */

.cards {
    min-height: 90svh;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    place-content: center;
    gap: 1rem;
}

.cards__card {
    --card-border-radius: 0.625rem;
    border-radius: var(--card-border-radius);
    background-color: var(--clr-primary-500);
    padding: 2.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem;
}

.cards__card[data-card="top"] {
    border-radius: var(--card-border-radius) 6rem var(--card-border-radius) var(--card-border-radius);
    gap: 2rem;
}

.wrapper-div {
    display: flex;
    gap: 1rem;
}

.button {
    display: grid;
    place-content: center;
    cursor: pointer;
    border: none;
    border-radius: 0.625rem;
    background-color: var(--clr-primary-700);
    width: 2.825rem;
    height: 2.825rem;
}

.button[data-icon="document"]::before {
    content: '';
    width: 20px;
    height: 24px;
    background-image: url('./images/icon-document.svg');
}

.button[data-icon="folder"]::before {
    content: '';
    width: 24px;
    height: 20px;
    background-image: url('./images/icon-folder.svg');
}

.button[data-icon="upload"]::before {
    content: '';
    width: 24px;
    height: 16px;
    background-image: url('./images/icon-upload.svg');
}

.cards__card[data-card="bottom"] {
    height: 9.625rem;
}

.usage-indicator {
    width: 100%;
    height: 1.185rem;
    padding: 0.2rem;
    border-radius: 50vw;
    background-color: var(--clr-primary-600);
    display: flex;
    align-items: center;
}

.usage-indicator-bar {
    width: 75%;
    height: 0.825rem;
    padding: 0 0.1rem;
    border-radius: 50vw;
    background-image: linear-gradient(to right, var(--clr-accent-2), var(--clr-accent-1));
    display: flex;
    align-items: center;
}

.usage-indicator-bar::before {
    content: '';
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50vw;
    margin-left: auto;
    background-color: var(--clr-neutral-200);
}

.wrapper-usage-card {
    position: relative;
}

.usage-card {
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%);
    width: 9.625rem;
    height: 4.625rem;
    background-color: var(--clr-neutral-100);
    border-radius: var(--card-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.summary[data-summary="left"] {
    font-size: 2.625rem;
    color: var(--clr-primary-700);    
}

.usage-card-text {
    color: var(--clr-neutral-400);
    font-size: 0.675rem;
    text-transform: uppercase;
}

footer {
    text-align: center;
}

@media (min-width: 48em) {
    body {
        background-image: url('./images/bg-desktop.png');
        background-size: 100% 55%;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .cards {
        grid-template-columns: 1fr 1.625fr;
        gap: 1.325rem;
        padding: 1.25rem;
    }

    .cards__card[data-card="bottom"] {
        margin-top: 2.925rem;
    }

    .usage-card {
        left: unset;
        bottom: unset;
        transform: unset;
        top: 0;
        right: 9.625%;
        border-radius: var(--card-border-radius) var(--card-border-radius) 0 var(--card-border-radius);
    }

    .usage-card::after {
        content: '';
        position: absolute;
        right: 0;
        border-bottom: 1.925rem solid transparent;
        border-right: 1.825rem solid var(--clr-neutral-100);
        margin-top: 5.475rem;
        margin-left: auto;
    }
}

@media (min-width: 64em) {
    .cards {
        gap: 1.825rem;
    }
}